#panel-two {
    // margin-top: -30vh;
    // background-color: violet;
    height: 50vh;
}

.panel-two {

    text-align: center;

    &__text {
        color: white;
        font-size: 4rem;
        letter-spacing: .3rem;
        overflow: none;
    }

    &__flare {
        text-transform: uppercase;
        font-size: 10rem;
        font-weight: 800;
        color: white;
        letter-spacing: 1rem;

        &--item {
            display: inline-block;
        }
    }
}