#panel-one {
    height: 200vh;
    // background-color: #000000;
}

.panel-one {

    &__image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__text {
        color: var(--text-color-light);
        font-size: 10rem;
        font-weight: 800;
        letter-spacing: .5rem;
        position: absolute;
        top: 55%;
        left: 45%;
        text-shadow: 0 .5rem .2rem black;

        @media screen and (max-width: 900px) {
            font-size: 8rem;
            left: 40%;
        }
    }
}