#panel-one {
    height: 100vh;
}

.panel-one {
    
    position: relative;
    height: 100%;

    background-image:   linear-gradient(to bottom, rgba(black, 0.3), rgba(black, 0.3)),
        linear-gradient(to bottom, transparent, black), 
        url(/asset/img/foe-bck.JPG);
    background-size: auto 110vh;
    background-repeat: no-repeat;

    &__image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: brightness(1.1);
    }

    &__text {
        color: var(--text-color-light);
        font-size: 10rem;
        font-weight: 800;
        letter-spacing: .5rem;
        position: absolute;
        top: 55%;
        left: 45%;
        text-shadow: 0 .5rem .2rem black;

        @media screen and (max-width: 900px) {
            left: 40%;
        }
    }
}