/* variables */
:root {
  --color-main-dark: #000;
  --text-color-light: #fff;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Coda', sans-serif;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(85, 85, 85, 0.3)));
  background-image: -webkit-linear-gradient(top, black, rgba(85, 85, 85, 0.3));
  background-image: -o-linear-gradient(top, black, rgba(85, 85, 85, 0.3));
  background-image: linear-gradient(to bottom, black, rgba(85, 85, 85, 0.3));
  background-color: var(--color-main-dark);
}

#panel-one {
  height: 200vh;
}

.panel-one__image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.panel-one__text {
  color: var(--text-color-light);
  font-size: 10rem;
  font-weight: 800;
  letter-spacing: .5rem;
  position: absolute;
  top: 55%;
  left: 45%;
  text-shadow: 0 .5rem .2rem black;
}

@media screen and (max-width: 900px) {
  .panel-one__text {
    font-size: 8rem;
    left: 40%;
  }
}

#panel-two {
  height: 50vh;
}

.panel-two {
  text-align: center;
}

.panel-two__text {
  color: white;
  font-size: 4rem;
  letter-spacing: .3rem;
  overflow: none;
}

.panel-two__flare {
  text-transform: uppercase;
  font-size: 10rem;
  font-weight: 800;
  color: white;
  letter-spacing: 1rem;
}

.panel-two__flare--item {
  display: inline-block;
}

#panel-three {
  background-color: yellow;
}

#question-marks {
  height: 100vh;
}

.question-marks {
  position: relative;
  height: 100%;
}

.question-marks__text {
  color: white;
  font-size: 4rem;
  letter-spacing: .3rem;
  overflow: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.question-marks__qm {
  position: absolute;
  color: white;
  font-size: 4rem;
  font-family: sans-serif;
}

.question-marks__qm--1 {
  font-size: 7rem;
  font-weight: bolder;
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
}

.question-marks__qm--2 {
  font-size: 4rem;
  font-weight: bolder;
  -webkit-transform: rotate(6deg);
      -ms-transform: rotate(6deg);
          transform: rotate(6deg);
}

.question-marks__qm--3 {
  font-size: 12rem;
  font-weight: bolder;
  -webkit-transform: rotate(-9deg);
      -ms-transform: rotate(-9deg);
          transform: rotate(-9deg);
}

.question-marks__qm--4 {
  font-size: 9rem;
  font-weight: bolder;
  -webkit-transform: rotate(-14deg);
      -ms-transform: rotate(-14deg);
          transform: rotate(-14deg);
}

.question-marks__qm--5 {
  font-size: 2rem;
  font-weight: bolder;
  -webkit-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.question-marks__qm--6 {
  font-size: 5rem;
  font-weight: bolder;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}

.question-marks__qm--7 {
  font-size: 2rem;
  font-weight: bolder;
  -webkit-transform: rotate(-31deg);
      -ms-transform: rotate(-31deg);
          transform: rotate(-31deg);
}

.question-marks__qm--8 {
  font-size: 11rem;
  font-weight: bolder;
  -webkit-transform: rotate(19deg);
      -ms-transform: rotate(19deg);
          transform: rotate(19deg);
}

.question-marks__qm--9 {
  font-size: 9rem;
  font-weight: bolder;
  -webkit-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
          transform: rotate(15deg);
}

.question-marks__qm--10 {
  font-size: 4rem;
  font-weight: bolder;
  -webkit-transform: rotate(-27deg);
      -ms-transform: rotate(-27deg);
          transform: rotate(-27deg);
}

.question-marks--1 {
  margin-top: -20vh;
}
