/* variables */
:root {
    --color-main-dark: #000;
    --text-color-light: #fff;

    --color-main-light: rgb(227,212,169);
    --color-main-medium: rgb(173,133,81);
    --color-main-dark: rgb(130,104,82);
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Coda', sans-serif;

    @media screen and (max-width: 900px) {
        font-size: 50%;
    }

    @media screen and (max-width: 600px) {
        font-size: 37.5%;
    }
}

body {
    background-image: linear-gradient(to bottom, black, rgba(#555555, .3));
    background-color: var(--color-main-dark);
    overflow-x: hidden;
}

@import 'mixins';

@import 'panel-one';
@import 'panel-two';
@import 'panel-three';
@import 'panel-four';
@import 'panel-five';
@import 'panel-six';
@import 'panel-seven';
@import 'panel-eight';
@import 'panel-nine';

@import 'question-marks';