/* variables */
:root {
  --color-main-dark: #000;
  --text-color-light: #fff;
  --color-main-light: rgb(227,212,169);
  --color-main-medium: rgb(173,133,81);
  --color-main-dark: rgb(130,104,82);
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Coda', sans-serif;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 37.5%;
  }
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(85, 85, 85, 0.3)));
  background-image: -webkit-linear-gradient(top, black, rgba(85, 85, 85, 0.3));
  background-image: -o-linear-gradient(top, black, rgba(85, 85, 85, 0.3));
  background-image: linear-gradient(to bottom, black, rgba(85, 85, 85, 0.3));
  background-color: var(--color-main-dark);
  overflow-x: hidden;
}

#panel-one {
  height: 100vh;
}

.panel-one {
  position: relative;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), -webkit-gradient(linear, left top, left bottom, from(transparent), to(black)), url(/asset/img/foe-bck.JPG);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), -webkit-linear-gradient(top, transparent, black), url(/asset/img/foe-bck.JPG);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), -o-linear-gradient(top, transparent, black), url(/asset/img/foe-bck.JPG);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(to bottom, transparent, black), url(/asset/img/foe-bck.JPG);
  -webkit-background-size: auto 110vh;
          background-size: auto 110vh;
  background-repeat: no-repeat;
}

.panel-one__image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.panel-one__text {
  color: var(--text-color-light);
  font-size: 10rem;
  font-weight: 800;
  letter-spacing: .5rem;
  position: absolute;
  top: 55%;
  left: 45%;
  text-shadow: 0 .5rem .2rem black;
}

@media screen and (max-width: 900px) {
  .panel-one__text {
    left: 40%;
  }
}

#panel-two {
  height: 100vh;
  position: relative;
}

.panel-two {
  height: 100%;
  text-align: center;
}

.panel-two__text {
  color: white;
  font-size: 4rem;
  letter-spacing: .3rem;
  overflow: none;
}

.panel-two__flare {
  text-transform: uppercase;
  font-size: 10rem;
  font-weight: 800;
  color: white;
  letter-spacing: 1rem;
}

.panel-two__flare--item {
  display: inline-block;
}

#panel-three {
  height: 100vh;
}

.panel-three {
  height: 100%;
  position: relative;
}

.panel-three__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 4rem;
  letter-spacing: .3rem;
  overflow: none;
  text-align: center;
}

.coins {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.coin {
  position: absolute;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.close {
  top: -10rem;
  width: 10rem;
  height: 10rem;
  font-size: 3rem;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.7), 1px 1px 1px rgba(0, 0, 0, 0.7);
  background-color: rgba(255, 255, 0, 0.7);
  z-index: 3;
}

.close::before, .close::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: orangered;
  border: 1rem solid rgba(255, 255, 0, 0.7);
}

.close::before {
  content: "FP";
  -webkit-transform: translateZ(3px);
          transform: translateZ(3px);
}

.close::after {
  content: "$";
  -webkit-transform: translateZ(-3px) rotateY(180deg);
          transform: translateZ(-3px) rotateY(180deg);
}

.medium {
  top: -7rem;
  width: 7rem;
  height: 7rem;
  font-size: 2rem;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.4);
  background-color: olive;
  z-index: 2;
}

.medium::before, .medium::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #802300;
  border: 0.7rem solid rgba(255, 255, 0, 0.4);
}

.medium::before {
  content: "FP";
  -webkit-transform: translateZ(3px);
          transform: translateZ(3px);
}

.medium::after {
  content: "$";
  -webkit-transform: translateZ(-3px) rotateY(180deg);
          transform: translateZ(-3px) rotateY(180deg);
}

.far {
  top: -4rem;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.4);
  background-color: olive;
  z-index: 1;
}

.far::before, .far::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #330e00;
  border: 0.7rem solid rgba(255, 255, 0, 0.1);
}

.far::before {
  content: "FP";
  -webkit-transform: translateZ(3px);
          transform: translateZ(3px);
}

.far::after {
  content: "$";
  -webkit-transform: translateZ(-3px) rotateY(180deg);
          transform: translateZ(-3px) rotateY(180deg);
}

#panel-four {
  height: 100vh;
}

.panel-four {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel-four__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.panel-four__text {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
      -ms-flex: 3;
          flex: 3;
  color: white;
  font-size: 4rem;
  letter-spacing: .3rem;
  overflow: none;
  text-align: center;
}

.panel-four__goods {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10rem;
  font-size: 2rem;
}

.panel-four__goods--row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#cc9e3c), to(#98500a));
  background-image: -webkit-linear-gradient(top left, #cc9e3c, #98500a);
  background-image: -o-linear-gradient(top left, #cc9e3c, #98500a);
  background-image: linear-gradient(to bottom right, #cc9e3c, #98500a);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: 0.5rem solid rgba(255, 255, 0, 0.4);
  -webkit-box-shadow: inset 5px 5px 10px black, inset -5px -5px 10px black;
          box-shadow: inset 5px 5px 10px black, inset -5px -5px 10px black;
  margin-bottom: .5rem;
}

.panel-four__goods--icon {
  position: relative;
  justify-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 3rem;
      -ms-flex: 0 0 3rem;
          flex: 0 0 3rem;
  margin-right: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel-four__goods--animatedPicture {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.panel-four__goods--picture {
  width: 100%;
}

.panel-four__goods--name {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.panel-four__goods--quantity {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 5rem;
      -ms-flex: 0 0 5rem;
          flex: 0 0 5rem;
  text-align: right;
  letter-spacing: .2rem;
}

#panel-five {
  height: 100vh;
}

.panel-five {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel-five__text {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
      -ms-flex: 3;
          flex: 3;
  color: white;
  font-size: 4rem;
  letter-spacing: .3rem;
  overflow: none;
  text-align: center;
}

#panel-six {
  height: 100vh;
}

.panel-six {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.panel-six__arcs {
  height: 100vh;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (47vh)[2];
      grid-template-rows: repeat(2, 47vh);
  row-gap: 2rem;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  padding: 2rem 2rem;
}

.panel-six__messages {
  position: relative;
  background-image: -webkit-radial-gradient(#e3d4a9 40%, #ad8551);
  background-image: -o-radial-gradient(#e3d4a9 40%, #ad8551);
  background-image: radial-gradient(#e3d4a9 40%, #ad8551);
  width: 50rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 0.4rem solid #826852;
  border-top: none;
}

.panel-six__blankspace {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1;
      -ms-flex: 0 1;
          flex: 0 1;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#44150a), to(#662619));
  background-image: -webkit-linear-gradient(bottom, #44150a, #662619);
  background-image: -o-linear-gradient(bottom, #44150a, #662619);
  background-image: linear-gradient(to top, #44150a, #662619);
  color: #e1c08f;
  padding: .5rem;
  font-size: 2.2rem;
  text-align: center;
  z-index: 10;
  border-top: 0.4rem solid #826852;
  border-bottom: 0.4rem solid #826852;
}

.panel-six__addMessage {
  padding: 1rem;
  font-size: 1.6rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 7rem;
      -ms-flex: 0 0 7rem;
          flex: 0 0 7rem;
  color: #a5928f;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#c9b9c0), to(#ac9a98));
  background-image: -webkit-linear-gradient(bottom, #c9b9c0, #ac9a98);
  background-image: -o-linear-gradient(bottom, #c9b9c0, #ac9a98);
  background-image: linear-gradient(to top, #c9b9c0, #ac9a98);
  border-top: 0.4rem solid #826852;
}

.panel-six__addMessage:hover {
  cursor: not-allowed;
}

.panel-six__chatlog {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1;
      -ms-flex: 0 1;
          flex: 0 1;
  display: block;
  position: absolute;
  bottom: 8rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 5;
}

.panel-six__arc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 0.4rem solid #826852;
}

.panel-six__arc--fp {
  -webkit-flex-basis: 5rem;
      -ms-flex-preferred-size: 5rem;
          flex-basis: 5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#59371a), to(#5a391b));
  background-image: -webkit-linear-gradient(top, #59371a, #5a391b);
  background-image: -o-linear-gradient(top, #59371a, #5a391b);
  background-image: linear-gradient(to bottom, #59371a, #5a391b);
}

.panel-six__arc--fp--label {
  -webkit-flex-basis: 10rem;
      -ms-flex-preferred-size: 10rem;
          flex-basis: 10rem;
  text-align: center;
  font-size: 2.5rem;
  margin: 0 2rem;
  color: white;
}

.panel-six__arc--fp--count {
  background-image: repeating-linear-gradient(to right, transparent, transparent 2rem, rgba(0, 0, 0, 0.3) 2rem, rgba(0, 0, 0, 0.3) 2.2rem, transparent 2.2rem), -webkit-gradient(linear, left top, left bottom, from(#f3c126), color-stop(#dc9e15), to(#f3c126));
  background-image: -webkit-repeating-linear-gradient(left, transparent, transparent 2rem, rgba(0, 0, 0, 0.3) 2rem, rgba(0, 0, 0, 0.3) 2.2rem, transparent 2.2rem), -webkit-linear-gradient(#f3c126, #dc9e15, #f3c126);
  background-image: -o-repeating-linear-gradient(left, transparent, transparent 2rem, rgba(0, 0, 0, 0.3) 2rem, rgba(0, 0, 0, 0.3) 2.2rem, transparent 2.2rem), -o-linear-gradient(#f3c126, #dc9e15, #f3c126);
  background-image: repeating-linear-gradient(to right, transparent, transparent 2rem, rgba(0, 0, 0, 0.3) 2rem, rgba(0, 0, 0, 0.3) 2.2rem, transparent 2.2rem), linear-gradient(#f3c126, #dc9e15, #f3c126);
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 3rem;
  justify-self: flex-end;
  margin-right: 1rem;
  -webkit-border-radius: .5rem;
          border-radius: .5rem;
  position: relative;
}

.panel-six__arc--fp--count--background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: -webkit-repeating-linear-gradient(left, transparent, transparent 2rem, rgba(0, 0, 0, 0.3) 2rem, rgba(0, 0, 0, 0.3) 2.2rem, transparent 2.2rem);
  background-image: -o-repeating-linear-gradient(left, transparent, transparent 2rem, rgba(0, 0, 0, 0.3) 2rem, rgba(0, 0, 0, 0.3) 2.2rem, transparent 2.2rem);
  background-image: repeating-linear-gradient(to right, transparent, transparent 2rem, rgba(0, 0, 0, 0.3) 2rem, rgba(0, 0, 0, 0.3) 2.2rem, transparent 2.2rem);
  background-color: rgba(0, 128, 0, 0.8);
  -webkit-border-radius: .5rem;
          border-radius: .5rem;
}

.panel-six__arc--fp--count--quantity {
  z-index: 1;
  color: white;
}

.panel-six__arc--detail {
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 13rem;
      -ms-flex: 0 0 13rem;
          flex: 0 0 13rem;
  padding: 1.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.panel-six__arc--detail--1 {
  background-image: url(/asset/img/arcs/Arc1.JPG);
}

.panel-six__arc--detail--2 {
  background-image: url(/asset/img/arcs/Arc2.JPG);
}

.panel-six__arc--detail--3 {
  background-image: url(/asset/img/arcs/Arc3.JPG);
}

.panel-six__arc--detail--4 {
  background-image: url(/asset/img/arcs/Arc4.JPG);
}

.panel-six__arc--detail--level {
  font-size: 3.5rem;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  padding: 2rem 4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.panel-six__arc--detail--net {
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  padding: 2rem 4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  text-align: center;
}

.panel-six__arc--contribution {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: .5rem;
  background-image: -webkit-radial-gradient(#e3d4a9 40%, #ad8551);
  background-image: -o-radial-gradient(#e3d4a9 40%, #ad8551);
  background-image: radial-gradient(#e3d4a9 40%, #ad8551);
}

.panel-six__arc--contribution--contribImage {
  -webkit-flex-basis: 9rem;
      -ms-flex-preferred-size: 9rem;
          flex-basis: 9rem;
}

.panel-six__arc--contribution--contribs {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #ede0be;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: .5rem 1rem;
  padding: .5rem;
  -webkit-border-radius: .5rem;
          border-radius: .5rem;
}

.panel-six__arc--contribution--label {
  text-align: center;
  font-size: 2rem;
  color: black;
  padding: 1rem;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.panel-six__arc--quantityNet {
  color: green;
  font-size: 3rem;
}

.panel-six__arc--quantityNet--loss {
  color: red;
}

.panel-six__msg {
  position: relative;
  padding: 1rem;
  margin-top: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.panel-six__msg--userImage {
  width: 9rem;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  text-align: center;
}

.panel-six__msg--userImageLeft {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}

.panel-six__msg--userImageRight {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.panel-six__msg--details {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  align-self: flex-end;
  background-color: #ede0be;
  -webkit-border-radius: .7rem;
          border-radius: .7rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .6rem;
     -moz-column-gap: .6rem;
          column-gap: .6rem;
  -ms-grid-columns: min-content 1fr 5rem;
      grid-template-columns: -webkit-min-content 1fr 5rem;
      grid-template-columns: min-content 1fr 5rem;
  -ms-grid-rows: (min-content)[3];
      grid-template-rows: repeat(3, -webkit-min-content);
      grid-template-rows: repeat(3, min-content);
  padding: .5rem 1rem;
  font-size: 1.6rem;
}

.panel-six__msg--detailsLeft {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
  -webkit-clip-path: polygon(0 0, 96% 0%, 96% 20%, 100% 30%, 96% 40%, 96% 100%, 0 100%);
          clip-path: polygon(0 0, 96% 0%, 96% 20%, 100% 30%, 96% 40%, 96% 100%, 0 100%);
  padding-right: 5%;
}

.panel-six__msg--detailsRight {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  -webkit-clip-path: polygon(4% 0, 100% 0, 100% 100%, 4% 100%, 4% 40%, 0 30%, 4% 20%);
          clip-path: polygon(4% 0, 100% 0, 100% 100%, 4% 100%, 4% 40%, 0 30%, 4% 20%);
  padding-left: 5%;
}

.panel-six__msg--time {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  padding-bottom: .5rem;
}

.panel-six__msg--gbImage {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / span 2;
}

.panel-six__msg--gbDetails {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.panel-six__msg--progress {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  font-size: 1.5rem;
  background-image: url(../asset/img/fp-icon.png);
  background-color: #253309;
  background-position: 96%, 50%;
  background-repeat: no-repeat;
  -webkit-border-radius: .5rem;
          border-radius: .5rem;
  text-align: center;
  padding: .5rem;
  color: white;
  border-radius: .5rem;
  -webkit-border-radius: .2rem solid black;
          border-radius: .2rem solid black;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  -webkit-transform: translateY(0.2rem);
      -ms-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
  overflow: hidden;
  position: relative;
}

.panel-six__msg--progress--fpCount {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #1e8908;
}

.panel-six__msg--progress .cdmProgress, .panel-six__msg--progress .coaProgress {
  width: 0%;
  -webkit-border-radius: .5rem;
          border-radius: .5rem;
  z-index: -1;
}

.panel-six__msg--openButton {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  text-align: center;
  border: 2px solid black;
  -webkit-border-radius: .5rem;
          border-radius: .5rem;
  padding: .5rem;
  color: white;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#cc9e3c), to(#98500a));
  background-image: -webkit-linear-gradient(top left, #cc9e3c, #98500a);
  background-image: -o-linear-gradient(top left, #cc9e3c, #98500a);
  background-image: linear-gradient(to bottom right, #cc9e3c, #98500a);
  cursor: not-allowed;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.panel-six__msg--openButton:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.glowEffectPositive {
  -webkit-animation: movementGlowPositive .6s ease-out infinite;
          animation: movementGlowPositive .6s ease-out infinite;
}

.glowEffectNegative {
  -webkit-animation: movementGlowNegative .6s ease-out infinite;
          animation: movementGlowNegative .6s ease-out infinite;
}

@-webkit-keyframes movementGlowPositive {
  0% {
    text-shadow: none;
  }
  50% {
    text-shadow: 0 0 .5rem greenyellow;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes movementGlowPositive {
  0% {
    text-shadow: none;
  }
  50% {
    text-shadow: 0 0 .5rem greenyellow;
  }
  100% {
    text-shadow: none;
  }
}

@-webkit-keyframes movementGlowNegative {
  0% {
    text-shadow: none;
  }
  50% {
    text-shadow: 0 0 .5rem red;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes movementGlowNegative {
  0% {
    text-shadow: none;
  }
  50% {
    text-shadow: 0 0 .5rem red;
  }
  100% {
    text-shadow: none;
  }
}

#panel-seven {
  height: 100vh;
}

.panel-seven {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
  -webkit-align-items: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.panel-seven__text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
  font-size: 4rem;
  letter-spacing: .3rem;
  overflow: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel-seven__labels, .panel-seven__data, .panel-seven__legend {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.panel-seven__data {
  height: 78%;
}

.panel-seven__legend {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem;
}

.panel-seven__legend--text {
  color: white;
  font-size: 3rem;
  letter-spacing: .3rem;
}

.panel-seven__legend--key {
  padding: 2rem;
  width: 4rem;
  height: 4rem;
  margin: 0 2rem;
  -webkit-border-radius: .5rem;
          border-radius: .5rem;
}

.panel-seven__legend--keyNormal {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(-10%, #e3d4a9), color-stop(#ad8551), color-stop(110%, #e3d4a9));
  background-image: -webkit-linear-gradient(left, #e3d4a9 -10%, #ad8551, #e3d4a9 110%);
  background-image: -o-linear-gradient(left, #e3d4a9 -10%, #ad8551, #e3d4a9 110%);
  background-image: linear-gradient(to right, #e3d4a9 -10%, #ad8551, #e3d4a9 110%);
}

.panel-seven__legend--keyBonus {
  background-image: -webkit-gradient(linear, left top, right top, from(#ad8551), color-stop(#e3d4a9), to(#ad8551));
  background-image: -webkit-linear-gradient(left, #ad8551, #e3d4a9, #ad8551);
  background-image: -o-linear-gradient(left, #ad8551, #e3d4a9, #ad8551);
  background-image: linear-gradient(to right, #ad8551, #e3d4a9, #ad8551);
}

.panel-seven__flex-panel {
  -webkit-box-flex: 5;
  -webkit-flex: 5;
      -ms-flex: 5;
          flex: 5;
  padding: 1rem 5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.panel-seven__results {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.panel-seven__results--label {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 4rem;
  color: white;
  text-align: center;
  height: 8rem;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel-seven__results--text {
  color: white;
  font-size: 2.4rem;
  letter-spacing: .3rem;
}

.panel-seven__results--reward, .panel-seven__results--bonus {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.panel-seven__results--reward:nth-child(even):not(:last-child), .panel-seven__results--bonus:nth-child(even):not(:last-child) {
  padding-right: 1rem;
}

.panel-seven__results--reward:nth-child(odd):not(:last-child), .panel-seven__results--bonus:nth-child(odd):not(:last-child) {
  padding-right: .2rem;
}

.panel-seven__results--reward div, .panel-seven__results--bonus div {
  width: 100%;
  height: 15%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 0.4rem solid #826852;
  border-right: 0.4rem solid #826852;
}

.panel-seven__results--reward div:not(:last-child), .panel-seven__results--bonus div:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.panel-seven__results--reward div:first-child, .panel-seven__results--bonus div:first-child {
  -webkit-border-radius: .5rem .5rem 0 0;
          border-radius: .5rem .5rem 0 0;
  border: 0.4rem solid #826852;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.panel-seven__results--reward div {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(-10%, #e3d4a9), color-stop(#ad8551), color-stop(110%, #e3d4a9));
  background-image: -webkit-linear-gradient(left, #e3d4a9 -10%, #ad8551, #e3d4a9 110%);
  background-image: -o-linear-gradient(left, #e3d4a9 -10%, #ad8551, #e3d4a9 110%);
  background-image: linear-gradient(to right, #e3d4a9 -10%, #ad8551, #e3d4a9 110%);
}

.panel-seven__results--bonus div {
  background-image: -webkit-gradient(linear, left top, right top, from(#ad8551), color-stop(#e3d4a9), to(#ad8551));
  background-image: -webkit-linear-gradient(left, #ad8551, #e3d4a9, #ad8551);
  background-image: -o-linear-gradient(left, #ad8551, #e3d4a9, #ad8551);
  background-image: linear-gradient(to right, #ad8551, #e3d4a9, #ad8551);
}

.panel-seven__conclusion {
  color: white;
  font-size: 4rem;
  letter-spacing: .3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 4rem;
  text-align: center;
  -webkit-box-flex: 0.5;
  -webkit-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

.panel-seven__conclusion span:not(:last-child) {
  margin-bottom: 5rem;
}

#panel-eight {
  height: 100vh;
}

.panel-eight {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.panel-eight__text {
  color: white;
  font-size: 4rem;
  letter-spacing: .3rem;
  overflow: none;
  text-align: center;
  padding-bottom: 4rem;
}

.panel-eight__data-entry {
  color: white;
  background-image: -webkit-radial-gradient(#ad8551, #e3d4a9);
  background-image: -o-radial-gradient(#ad8551, #e3d4a9);
  background-image: radial-gradient(#ad8551, #e3d4a9);
  border: 0.4rem solid #826852;
  font-size: 3rem;
  letter-spacing: .3rem;
  text-align: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  -webkit-box-shadow: 0 0.8rem 1rem rgba(173, 133, 81, 0.35);
          box-shadow: 0 0.8rem 1rem rgba(173, 133, 81, 0.35);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.panel-eight__data-entry:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 1.2rem 1.4rem rgba(173, 133, 81, 0.3);
          box-shadow: 0 1.2rem 1.4rem rgba(173, 133, 81, 0.3);
}

.panel-eight__warnings {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.panel-eight__input-text, .panel-eight__input-field {
  padding-right: 2rem;
}

.panel-eight__textbox {
  font-family: 'Coda', sans-serif;
  font-size: 2.5rem;
  width: 12rem;
  padding: .5rem;
  -webkit-border-radius: .5rem;
          border-radius: .5rem;
  text-align: center;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.panel-eight__textbox::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.panel-eight__textbox:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.panel-eight__textbox::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.panel-eight__textbox::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.panel-eight__textbox:hover, .panel-eight__textbox:focus {
  background-color: rgba(173, 133, 81, 0.1);
}

.panel-eight__textbox:invalid {
  -webkit-animation: glowDanger 1.5s ease-in-out infinite;
          animation: glowDanger 1.5s ease-in-out infinite;
}

.panel-eight__scroll-pause, .panel-eight__scroll-continue {
  font-size: 4rem;
  letter-spacing: .3rem;
  overflow: none;
  text-align: center;
  margin-top: 10rem;
  padding: 4rem 8rem;
  width: 60rem;
}

.panel-eight__scroll-pause {
  color: red;
  border: 5px dashed red;
  -webkit-animation: glowDanger 1.5s ease-in-out infinite;
          animation: glowDanger 1.5s ease-in-out infinite;
  -webkit-transform: rotate(10deg) translateX(50%);
      -ms-transform: rotate(10deg) translateX(50%);
          transform: rotate(10deg) translateX(50%);
}

.panel-eight__scroll-continue {
  color: greenyellow;
  border: 5px dashed green;
  -webkit-animation: glowSafe 1.5s ease-in-out infinite;
          animation: glowSafe 1.5s ease-in-out infinite;
  -webkit-transform: rotate(-10deg) translateX(-50%) scale(0);
      -ms-transform: rotate(-10deg) translateX(-50%) scale(0);
          transform: rotate(-10deg) translateX(-50%) scale(0);
  opacity: 0;
}

.panel-eight__default-button {
  font-size: 1.6rem;
  text-decoration: underline;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.panel-eight__default-button:hover {
  cursor: pointer;
  color: #ff6666;
  letter-spacing: .4rem;
  -webkit-transform: translateY(-0.3rem);
      -ms-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.panel-eight__default-button:active {
  -webkit-transform: translateY(0.1rem);
      -ms-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
}

@-webkit-keyframes glowDanger {
  0% {
    -webkit-box-shadow: 0 0 1.5rem red;
            box-shadow: 0 0 1.5rem red;
    background-color: rgba(255, 0, 0, 0.2);
  }
  50% {
    -webkit-box-shadow: 0 0 4rem red;
            box-shadow: 0 0 4rem red;
    background-color: rgba(255, 0, 0, 0.3);
  }
  100% {
    -webkit-box-shadow: 0 0 1.5rem red;
            box-shadow: 0 0 1.5rem red;
    background-color: rgba(255, 0, 0, 0.2);
  }
}

@keyframes glowDanger {
  0% {
    -webkit-box-shadow: 0 0 1.5rem red;
            box-shadow: 0 0 1.5rem red;
    background-color: rgba(255, 0, 0, 0.2);
  }
  50% {
    -webkit-box-shadow: 0 0 4rem red;
            box-shadow: 0 0 4rem red;
    background-color: rgba(255, 0, 0, 0.3);
  }
  100% {
    -webkit-box-shadow: 0 0 1.5rem red;
            box-shadow: 0 0 1.5rem red;
    background-color: rgba(255, 0, 0, 0.2);
  }
}

@-webkit-keyframes glowSafe {
  0% {
    -webkit-box-shadow: 0 0 1.5rem green;
            box-shadow: 0 0 1.5rem green;
    background-color: rgba(0, 128, 0, 0.2);
  }
  50% {
    -webkit-box-shadow: 0 0 4rem green;
            box-shadow: 0 0 4rem green;
    background-color: rgba(0, 128, 0, 0.3);
  }
  100% {
    -webkit-box-shadow: 0 0 1.5rem green;
            box-shadow: 0 0 1.5rem green;
    background-color: rgba(0, 128, 0, 0.2);
  }
}

@keyframes glowSafe {
  0% {
    -webkit-box-shadow: 0 0 1.5rem green;
            box-shadow: 0 0 1.5rem green;
    background-color: rgba(0, 128, 0, 0.2);
  }
  50% {
    -webkit-box-shadow: 0 0 4rem green;
            box-shadow: 0 0 4rem green;
    background-color: rgba(0, 128, 0, 0.3);
  }
  100% {
    -webkit-box-shadow: 0 0 1.5rem green;
            box-shadow: 0 0 1.5rem green;
    background-color: rgba(0, 128, 0, 0.2);
  }
}

#panel-nine {
  height: 100vh;
}

.panel-nine {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.panel-nine__range-data {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.panel-nine__graph {
  color: white;
  letter-spacing: .3rem;
  font-size: 2rem;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 5rem;
}

.panel-nine__data {
  color: white;
  letter-spacing: .3rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5rem;
}

.panel-nine__data--range {
  font-size: 4rem;
  font-weight: bold;
}

.panel-nine__data--tips {
  margin: 2rem 0;
  font-size: 1.6rem;
  padding: 2rem;
  background-color: var(--color-main-medium);
}

.panel-nine__stats {
  color: white;
  letter-spacing: .3rem;
  font-size: 2rem;
}

.panel-nine__stats > * {
  padding-bottom: 1rem;
}

.panel-nine__data-selection {
  -webkit-flex-basis: min-content;
      -ms-flex-preferred-size: min-content;
          flex-basis: min-content;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: none;
      -ms-flex-wrap: none;
          flex-wrap: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  overflow-x: auto;
}

.panel-nine__controls {
  opacity: 0;
  visibility: hidden;
}

.panel-nine__selection {
  color: white;
  letter-spacing: .3rem;
  text-align: center;
  position: relative;
  background-color: var(--color-main-medium);
  font-size: 2.4rem;
  -webkit-flex-basis: 20rem;
      -ms-flex-preferred-size: 20rem;
          flex-basis: 20rem;
  padding: 1rem 2rem;
  margin: 1rem 1rem;
  -webkit-border-radius: .5rem;
          border-radius: .5rem;
  border: 0.5rem solid var(--color-main-dark);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel-nine__selection:hover {
  background-color: var(--color-main-light);
  border: 0.5rem solid var(--color-main-dark);
  cursor: pointer;
  color: black;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.showControls {
  opacity: 1;
  visibility: visible;
}

svg.fpGraph {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
}

svg.fpGraph .grid {
  stroke: black;
  stroke-dasharray: 1 2;
  stroke-width: 1;
}

svg.fpGraph .axis-grid {
  stroke: black;
  stroke-width: 2;
  stroke-dasharray: none;
}

svg.fpGraph .points {
  stroke-dasharray: none;
}

svg.fpGraph .points:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

svg.fpGraph .totalPoints {
  fill: red;
}

svg.fpGraph .selfPoints {
  fill: green;
}

#question-marks {
  height: 100vh;
}

.question-marks {
  position: relative;
  height: 100%;
}

.question-marks__text {
  color: white;
  font-size: 4rem;
  letter-spacing: .3rem;
  overflow: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.question-marks__qm {
  position: absolute;
  color: white;
  font-size: 4rem;
  font-family: sans-serif;
}

.question-marks__qm--1 {
  font-size: 7rem;
  font-weight: bolder;
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
}

.question-marks__qm--2 {
  font-size: 4rem;
  font-weight: bolder;
  -webkit-transform: rotate(6deg);
      -ms-transform: rotate(6deg);
          transform: rotate(6deg);
}

.question-marks__qm--3 {
  font-size: 12rem;
  font-weight: bolder;
  -webkit-transform: rotate(-9deg);
      -ms-transform: rotate(-9deg);
          transform: rotate(-9deg);
}

.question-marks__qm--4 {
  font-size: 9rem;
  font-weight: bolder;
  -webkit-transform: rotate(-14deg);
      -ms-transform: rotate(-14deg);
          transform: rotate(-14deg);
}

.question-marks__qm--5 {
  font-size: 2rem;
  font-weight: bolder;
  -webkit-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.question-marks__qm--6 {
  font-size: 5rem;
  font-weight: bolder;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}

.question-marks__qm--7 {
  font-size: 2rem;
  font-weight: bolder;
  -webkit-transform: rotate(-31deg);
      -ms-transform: rotate(-31deg);
          transform: rotate(-31deg);
}

.question-marks__qm--8 {
  font-size: 11rem;
  font-weight: bolder;
  -webkit-transform: rotate(19deg);
      -ms-transform: rotate(19deg);
          transform: rotate(19deg);
}

.question-marks__qm--9 {
  font-size: 9rem;
  font-weight: bolder;
  -webkit-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
          transform: rotate(15deg);
}

.question-marks__qm--10 {
  font-size: 4rem;
  font-weight: bolder;
  -webkit-transform: rotate(-27deg);
      -ms-transform: rotate(-27deg);
          transform: rotate(-27deg);
}

.question-marks--1 {
  padding-top: -20vh;
}
